/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* CSS written by me */
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    background: #2D3040;
    margin-left: auto;
    margin-right: auto;
}
body{
    line-height: 1.5;
}
h1{
    font-size: 32px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 24px;
    padding-bottom: 20px;
    font-weight: 600;
}
nav{
    text-align: center;
}
nav a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    margin: 0px 10px;
    font-family: 'Open Sans', sans-serif;

}
hr
{
    margin-top:40px;
    border: 1px solid #fff;
    border-style: none none solid;                                                                                                                                                                                                                                                                                                                                                                                                                
    width: 75%;
    box-sizing: border-box;
}
h2{
    padding-top: 100px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color:white;
    width: 75%;
    box-sizing: border-box;
}
header p{
    text-transform: uppercase;
    color:white;
    width: 75%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-top: 30px;
    font-weight: 300;
    padding-bottom: 100px;  
}
.first-section{
    background: #4C5C96;
}
h3{
    width: 75%;
    padding-top:50px;
    margin:0 auto;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color:white;
}  
img{
  width:240px;
  margin-top: 20px;
  height: 240px;
  border-radius: 50%;
  display: block;
  margin-left:144px ;
  margin-right: auto;
  box-sizing: border-box;

} 
.main-para{
    padding-top:30px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:white;
    width: 75%;
    box-sizing: border-box;
}
.section-button
{
    font-family:'Open Sans', sans-serif;
    color: white;
    background: #4C5C96;
    border:none;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 20px;
    padding: 4px;
    margin-left: 144px;
    box-sizing: border-box;
}
.second-section{
    background: #45558D;
}
.third-section{
    background: #3F4E85;
}
footer{
    background: #2D3040;
    padding: 40px 0;
}
small{
    text-transform: uppercase;
    margin-left: 144px;
    font-family:'Open Sans', sans-serif;
    font-size: 12px;
    color: #fff;
}
